%section.quotes
  #banner
    .inner
      %header
        %h2 Random quotes
      %p= random_quote

%article
  #main
    %header
      %span= fa_icon 'code'
      %h2 Add your own quotes

    %section.add-quote
      = render 'form'

    %section.show-quotes
      - @quotes.each do |quote|
        %p= quote.quote
